@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";

@import "./base/reset";
@import "./base/base";

@import "./components/header";
@import "./components/hero";
@import "./components/features";
@import "./components/work";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";
@import "./components/form";
@import './components/mobile-menu';
