.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  @include flex-center;

  &:target {
    display: flex;
  }

  &__content {
    background: $white;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 430px;
  }
}
