$main-color: #2196f3;
$dark-color: #212121;
$light-gray: #757575;
$white: #ffffff;
$dark-bg: #2f303a;
$section-bg: #f5f4fa;

$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;


